{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Esploro</h1>
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <div class="mb-3">
            You are not logged in, <a href="{{ path('app_login') }}">login ➤</a>, or <a href="{{ path('app_register') }}">register ➤</a>
        </div>
    {% endif %}
{% endblock %}
